<?xml version="1.0" ?>
<!DOCTYPE config [<!ATTLIST controller id ID #IMPLIED>
					  <!ATTLIST attribute id ID #IMPLIED>
					  <!ATTLIST meta id ID #IMPLIED>]>
<config>
    <job>
        <remote>
            <attribute name="host" type="string">max-cfel</attribute>
            <attribute name="user" type="string">domarm</attribute>
            <attribute name="pass" type="string">Anime@KE.</attribute>
            <attribute name="repo" type="string">/home/domarm/jobs/scripts/AbsCor</attribute>
            <attribute name="template" type="string">
#!/bin/bash

#SBATCH --partition=cfel
#SBATCH --time=10:00:00             # Maximum time request
#SBATCH --nodes={PARAM_SIM_NODES}                       # Number of nodes
#SBATCH --workdir   {PARAM_REMOTE_WORKING_DIR}
#SBATCH --job-name  simulation
#SBATCH --output    hostname-%N-%j.out  # File to which STDOUT will be written
#SBATCH --error     hostname-%N-%j.err  # File to which STDERR will be written
#SBATCH --mail-type END                 # Type of email notification- BEGIN,END,FAIL,ALL
#SBATCH --mail-user martin.domaracky@desy.de  # Email to which notifications will be sent

source /gpfs/cfel/cxi/common/cfelsoft-rh7/setup.sh
module load cfel-python2/latest
{PARAM_JOB_COMMAND}
            </attribute>
        </remote>
    </job>
    <presets>
        <detector label="Lambda">
            <attribute name="Width" type="int">2048</attribute>
            <attribute name="Height" type="int">2048</attribute>
            <attribute name="Offset X" type="float">-1028.607</attribute>
            <attribute name="Offset Y" type="float">-1016.952</attribute>
        </detector>
        <detector label="Drobcek">
            <attribute name="Width" type="int">50</attribute>
            <attribute name="Height" type="int">50</attribute>
            <attribute name="Offset X" type="float">-1028.607</attribute>
            <attribute name="Offset Y" type="float">-1016.952</attribute>
        </detector>
        <sample label="Sample 1">
            <attribute name="Length" type="float">20</attribute>
            <attribute name="Radius" type="float">0.75</attribute>
        </sample>
        <simulation label="Default">
            <attribute name="Photons" type="int">1000</attribute>
            <attribute name="SDD" type="float">374.836</attribute>
            <attribute name="Nodes" type="int">1</attribute>
            <attribute name="Processes" type="int">8</attribute>
            <attribute name="Max. runtime" type="int">10</attribute>
        </simulation>
    </presets>
</config>